# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\eo_repos\symfony-projects\airpups\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
